
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image:  repeating-radial-gradient(circle at 0 0, transparent 0, #212120 100px), repeating-linear-gradient(#1e1e1e, #1e1e1e);
    background-color: #212120;
}
.container{
    display: flex;
    justify-content: center;
    height: 100vh;
}
.btnNhis{
    display: flex;
}
.calculator-buttons{
    flex: 1;
}

.historyLog {
    margin-top: 10px;
    width: 210px;
    height: 410px;
    padding: 20px;
    padding-top: 10px; 
    border-radius: 20px;
    box-shadow:  0 0 4px 4px rgba(0, 0, 0, 0.25),  4px 4px 10px rgba(255, 255, 255, 0.1);
    overflow-y: auto;
}

.top{
    display: flex;   
    justify-content: space-between; 
    margin-bottom: 10px;
    align-items: center;
}

.calculator{
    margin: auto;
    background-color: #222121;
    padding: 20px;
    border-radius: 40px;
    box-shadow: -4px -4px 4px 0 rgba(254, 254, 254, 0.18), 4px 4px 4px 4px rgba(0, 0, 0, 0.20);
    width: 600px;
    height: 630px;
}
.cal-top{
    display: flex;
    justify-content: end;
    color: #fff;
}
.calculator form input{
    border: 0;
    outline: 0;
    height: 60px;
    width: 60px;
    border-radius: 20px;
    box-shadow: -3px -3px 4px 0 rgba(254, 254, 254, 0.25), 4px 4px 4px 4px rgba(0, 0, 0, 0.30);
    background: transparent;
    color: #E7844C;
    cursor: pointer;
    margin: 0.6rem;
    font-size: 1.5rem;
    font-weight: 700;
}
.calculator-buttons input[type="button"].btn-number {
    color: #fff;
}
.calculator form input:hover{
    opacity: 0.7;
}
.calculator form input:active{
    opacity: 0.4;
}
form input.btn-equal{
    width: 145px;
    text-align: left;
    padding-left: 30px;
    color: #fff;
    background-color: #E7844C;
}
form input.btn-AC{
    width: 50px;
    height: 30px;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: -2px -2px 3px 0 rgba(254, 254, 254, 0.25), 3px 3px 3px 3px rgba(0, 0, 0, 0.30);
}

.screen{
    border: 0;
    outline: 0;
    border-radius: 20px;
    margin: 20px 5px;
    min-height: 120px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    background: transparent;
    flex: 1 1 0%;
    color: white;
    box-shadow:  0 0 4px 4px rgba(0, 0, 0, 0.25),  4px 4px 10px rgba(255, 255, 255, 0.1);
}
.screen .input{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.screen .output{
    font-size: 3rem;
    font-weight: 700;
    width: 100%;
    max-width: 100%;
    overflow: auto;
    color: #E7844C;
}

.expression {
    color: rgba(255, 255, 255, 0.61); 
    font-size: 20px;
}

.result {
    color: rgba(255, 166, 0, 0.719); 
}
h3{
    color: rgba(255, 255, 255, 0.61);
}