
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image:  repeating-radial-gradient(circle at 0 0, transparent 0, #212120 100px), repeating-linear-gradient(#1e1e1e, #1e1e1e);
    background-color: #212120;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.left-container{
    color: #fff;
    width: 40%;
    padding: 2.5rem;
}
.left-container h1{
    margin-bottom: 1rem;
}
.calculator{
    background-color: #2F2E2E;
    padding: 20px;
    border-radius: 40px;
    box-shadow: -4px -4px 4px 0 rgba(254, 254, 254, 0.18), 4px 4px 4px 4px rgba(0, 0, 0, 0.20);
}
.cal-top{
    display: flex;
    justify-content: end;
    color: #fff;
}
.calculator form input{
    border: 0;
    outline: 0;
    height: 60px;
    width: 60px;
    border-radius: 20px;
    box-shadow: -3px -3px 4px 0 rgba(254, 254, 254, 0.25), 4px 4px 4px 4px rgba(0, 0, 0, 0.30);
    background: transparent;
    color: #E7844C;
    cursor: pointer;
    margin: 0.6rem;
    font-size: 1.5rem;
    font-weight: 700;
}
.calculator-buttons input[type="button"].btn-number {
    color: #fff;
}
form input.btn-equal{
    width: 145px;
    text-align: left;
    padding-left: 30px;
    color: #fff;
    background-color: #E7844C;
}
.screen{
    border: 0;
    outline: 0;
    border-radius: 20px;
    margin: 20px 5px;
    min-height: 120px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    background: transparent;
    flex: 1 1 0%;
    color: white;
    box-shadow:  0 0 4px 4px rgba(0, 0, 0, 0.25),  4px 4px 10px rgba(255, 255, 255, 0.1);
}
.screen .input{
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}
.screen .output{
    font-size: 3rem;
    font-weight: 700;
    width: 100%;
    max-width: 100%;
    overflow: auto;
    color: #E7844C;
}
